# fly.toml app configuration file generated for goodtalent-os-demo on 2024-12-08T22:54:15-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "os3" # <--- IMPORTANT: CHANGE THIS TO YOUR UNIQUE APP NAME
primary_region = "dfw" # <--- Change to your preferred region (e.g., lhr, sjc)

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[mounts]
  source = "data"
  destination = "/app/data"
