plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "D:\\Users\\pblanks\\Downloads\\login\\login\\dist"
publishOrigin = "ui"
commandOrigin = "ui"
base = "D:\\Users\\pblanks\\Downloads\\login\\login"
command = "npm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]